In [1]:
%reload_ext autoreload
%autoreload 2

In [2]:
import sys
import os
script_dir = os.getcwd()
sys.path.append(os.path.abspath(os.path.join(script_dir, '..')))

In [3]:
"""
In summary, this line of code modifies the Python path to include the parent 
directory of the directory containing the current script, allowing Python
 to locate and import modules and packages located in that parent directory. 
 It's commonly used in scripts to ensure that project-level modules and packages 
 are accessible 
regardless of the script's current directory.
"""

"\nIn summary, this line of code modifies the Python path to include the parent \ndirectory of the directory containing the current script, allowing Python\n to locate and import modules and packages located in that parent directory. \n It's commonly used in scripts to ensure that project-level modules and packages \n are accessible \nregardless of the script's current directory.\n"

In [4]:
from src.data import load_raw_data
from pathlib import Path

In [ ]:
# Path().parent.resolve().parent / 'data'

In [6]:
from src.data import load_raw_data

rides = load_raw_data(year=2022)
rides

File 2022-01 was already in local storage

DeprecationWarning: Passing a BlockManager to DataFrame is deprecated and will raise in a future version. Use public APIs instead.

File 2022-02 was already in local storage

DeprecationWarning: Passing a BlockManager to DataFrame is deprecated and will raise in a future version. Use public APIs instead.

File 2022-03 was already in local storage

DeprecationWarning: Passing a BlockManager to DataFrame is deprecated and will raise in a future version. Use public APIs instead.

File 2022-04 was already in local storage

DeprecationWarning: Passing a BlockManager to DataFrame is deprecated and will raise in a future version. Use public APIs instead.

File 2022-05 was already in local storage

DeprecationWarning: Passing a BlockManager to DataFrame is deprecated and will raise in a future version. Use public APIs instead.

File 2022-06 was already in local storage

DeprecationWarning: Passing a BlockManager to DataFrame is deprecated and will raise in a future version. Use public APIs instead.

File 2022-07 was already in local storage

DeprecationWarning: Passing a BlockManager to DataFrame is deprecated and will raise in a future version. Use public APIs instead.

File 2022-08 was already in local storage

DeprecationWarning: Passing a BlockManager to DataFrame is deprecated and will raise in a future version. Use public APIs instead.

File 2022-09 was already in local storage

DeprecationWarning: Passing a BlockManager to DataFrame is deprecated and will raise in a future version. Use public APIs instead.

File 2022-10 was already in local storage

DeprecationWarning: Passing a BlockManager to DataFrame is deprecated and will raise in a future version. Use public APIs instead.

File 2022-11 was already in local storage

DeprecationWarning: Passing a BlockManager to DataFrame is deprecated and will raise in a future version. Use public APIs instead.

File 2022-12 was already in local storage

DeprecationWarning: Passing a BlockManager to DataFrame is deprecated and will raise in a future version. Use public APIs instead.

            pickup_datetime  pickup_location_id
0       2022-01-01 00:35:40                 142
1       2022-01-01 00:33:43                 236
2       2022-01-01 00:53:21                 166
3       2022-01-01 00:25:21                 114
4       2022-01-01 00:36:48                  68
...                     ...                 ...
3399544 2022-12-31 23:46:00                  16
3399545 2022-12-31 23:13:24                  75
3399546 2022-12-31 23:00:49                 168
3399547 2022-12-31 23:02:50                 238
3399548 2022-12-31 23:00:15                  85

[39654634 rows x 2 columns]

In [7]:
from src.data import transform_raw_data_into_ts_data

ts_data = transform_raw_data_into_ts_data(rides)
ts_data

FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
100%|██████████| 265/265 [00:04<00:00, 62.21it/s]

                pickup_hour  rides  pickup_location_id
0       2022-01-01 00:00:00      0                   1
1       2022-01-01 01:00:00      0                   1
2       2022-01-01 02:00:00      0                   1
3       2022-01-01 03:00:00      0                   1
4       2022-01-01 04:00:00      1                   1
...                     ...    ...                 ...
2321395 2022-12-31 19:00:00      2                 265
2321396 2022-12-31 20:00:00      2                 265
2321397 2022-12-31 21:00:00      7                 265
2321398 2022-12-31 22:00:00      3                 265
2321399 2022-12-31 23:00:00      2                 265

[2321400 rows x 3 columns]

In [8]:
from src.data import transform_ts_data_into_features_and_target

features, targets = transform_ts_data_into_features_and_target(
    ts_data,
    input_seq_len=24*28*1, # one month, input fetures, larget the better
    step_size=24
)

print(f'{features.shape=}')
print(f'{targets.shape=}')

100%|██████████| 265/265 [00:41<00:00,  6.41it/s]

features.shape=(89305, 674)
targets.shape=(89305,)

In [9]:
features

,rides_previous_672_hour,rides_previous_671_hour,rides_previous_670_hour,rides_previous_669_hour,rides_previous_668_hour,rides_previous_667_hour,rides_previous_666_hour,rides_previous_665_hour,rides_previous_664_hour,rides_previous_663_hour,...,rides_previous_8_hour,rides_previous_7_hour,rides_previous_6_hour,rides_previous_5_hour,rides_previous_4_hour,rides_previous_3_hour,rides_previous_2_hour,rides_previous_1_hour,pickup_hour,pickup_location_id
0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,2.0,0.0,0.0,...,1.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,2022-01-29,1
1,0.0,0.0,0.0,0.0,0.0,4.0,1.0,2.0,1.0,2.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,2022-01-30,1
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,...,2.0,0.0,1.0,2.0,0.0,0.0,0.0,0.0,2022-01-31,1
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,1.0,2.0,1.0,0.0,1.0,1.0,0.0,0.0,2022-02-01,1
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2022-02-02,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89300,3.0,0.0,2.0,3.0,2.0,3.0,13.0,8.0,9.0,9.0,...,3.0,6.0,5.0,3.0,1.0,6.0,1.0,3.0,2022-12-27,265
89301,6.0,4.0,0.0,0.0,2.0,0.0,14.0,7.0,8.0,4.0,...,1.0,4.0,2.0,1.0,2.0,2.0,2.0,8.0,2022-12-28,265
89302,7.0,2.0,3.0,4.0,7.0,4.0,10.0,9.0,7.0,11.0,...,2.0,2.0,3.0,5.0,1.0,1.0,0.0,8.0,2022-12-29,265
89303,6.0,5.0,4.0,3.0,0.0,3.0,11.0,12.0,9.0,10.0,...,2.0,3.0,3.0,1.0,2.0,0.0,1.0,2.0,2022-12-30,265
89304,6.0,6.0,4.0,2.0,5.0,1.0,0.0,3.0,5.0,8.0,...,12.0,6.0,4.0,2.0,5.0,1.0,1.0,7.0,2022-12-31,265

In [10]:

tabular_data = features
tabular_data['target_rides_next_hour'] = targets

from src.paths import TRANSFORMED_DATA_DIR

tabular_data.to_parquet(TRANSFORMED_DATA_DIR / 'tabular_data.parquet')

DeprecationWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.

In [42]:
## Plot